h1 { text-align: center;
    background-color: purple;
}
h2 {
    text-align: center;
    background: gray;
}
h3 {
    text-align: left;
    background: green;
}
p {
    text-align: left;
    background: yellow;
}